<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Update Transaction</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime-button
            slot="end"
            datetime="datetime"
          ></ion-datetime-button>
        </ion-item>
        <ion-item>
          <ion-label>Amount</ion-label>
          <input
            slot="end"
            placeholder="$0.00"
            [(ngModel)]="transactionAmountUserView"
            type="decimal"
            currencyMask
            [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }"
            class="ngx-currency-input"
            inputmode="decimal"
          />
        </ion-item>
        <ion-item>
          <ion-label>Transaction</ion-label>
          <ion-input
            [(ngModel)]="transaction.name"
            placeholder="Name"
            slot="end"
            type="text"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Merchant</ion-label>
          <ion-input
            [(ngModel)]="transaction.merchant_name"
            placeholder="Name"
            slot="end"
            type="text"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="datetime"
            (ionChange)="dateChanged($event)"
            presentation="date"
            [preferWheel]="true"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item button id="open-modal">
          <ion-label>Budget Category</ion-label>
          <br />
          <p *ngIf="transaction.subcategoryId">{{ selectedSub }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-modal
    #modal
    trigger="open-modal"
    [presentingElement]="presentingElement"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Pick a Category</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div style="width: 90%; margin: 28px auto 0 auto">
          <span *ngFor="let cat of categories">
            <app-category
              [category]="cat"
              [isChecklist]="true"
              [subcategories]="cat.subcategories ?? []"
              (subcategorySelected)="subcategorySelected($event, cat)"
              ></app-category>
          </span>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
