<ion-header>
  <ion-toolbar id="top-toolbar" color="primary">
    <div id="month-picker" (click)="dateClicked()">
      <span class="month">{{ chosenMonth }}</span>
      <span class="year">{{ chosenYear }}</span>
      <span><ion-icon name="chevron-down" slot="icon-only"></ion-icon></span>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="addTransaction()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar id="bottom-toolbar" color="primary">
    <ion-segment value="budgeted" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="budgeted">
        <ion-label>Budgeted</ion-label>
      </ion-segment-button>
      <ion-segment-button value="remaining">
        <ion-label>Remaining</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
