<ion-header>
  <ion-toolbar id="top-toolbar" color="primary">
    <div id="month-picker">
      <span class="month">July</span>
      <span class="year">2023</span>
      <span><ion-icon name="chevron-down" slot="icon-only"></ion-icon></span>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="addTransaction()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar id="bottom-toolbar" color="primary">
    <ion-segment value="planned" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="planned">
        <ion-label>Planned</ion-label>
      </ion-segment-button>
      <ion-segment-button value="remaining">
        <ion-label>Remaining</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
