#top-toolbar {
  height: 135px;
  #month-picker {
    margin: 15px 15px 15px 15px;
    .month {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 40px;
      color: var(--ion-color-primary-contrast);
    }
    .year {
      font-size: 30px;
      color: var(--ion-color-primary-contrast);
      padding-left: 10px;
      font-weight: 300;
    }
  }

  ion-icon {
    color: var(--ion-color-primary-contrast);
  }
}

#bottom-toolbar {
  ion-segment {
    width: 90%;
  }
}
