<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="link()" *ngIf="!user.access_token">Link</ion-button>
  <ion-button (click)="retrieveTransactions()" *ngIf="user.access_token"
    >Get Transactions</ion-button
  >
  <p>You are connected to {{institutionName}}</p>
  <p>Last Transaction Pull: {{user.last_transaction_retrieval | date}}</p>
  <ion-list>
    <ion-item *ngFor="let item of transactions">
      {{item.name}}<br />{{item.amount | currency}}<br />{{item.date}}
    </ion-item>
  </ion-list>
</ion-content>
