<app-header></app-header>

<ion-content [fullscreen]="true">
  <div id="budget-remaining-container">
    <span><strong>$500.59</strong> left to budget</span>
  </div>
  <div id="planned-income-container">
    <span id="planned-income"
      ><span class="title">Planned Income</span>
      <strong>$12,453.42</strong></span
    >
  </div>

  <app-category cardTitle="Income"></app-category>
  <span *ngFor="let item of user.categories">
    <app-category
      [cardTitle]="item.text"
      [subcategories]="item.subcategories"
    ></app-category>
  </span>

  <div id="app-draggable-container">
    <app-draggable>
      <div id="transaction-counter">
        <span class="counter-number">123</span>
      </div>
    </app-draggable>
  </div>
</ion-content>
