<app-header
  [chosenMonth]="chosenDate.month"
  [chosenYear]="chosenDate.year"
  (requestDateChange)="requestDateChange()"
  (addTransactionButtonClicked)="addTransaction()"
  (refreshButtonClicked)="loadMonthData()"
></app-header>

<ion-content [fullscreen]="true" class="ion-content-scroll-host">
  <div id="budget-remaining-container">
    <span>
      <span [ngClass]="leftToBudget < 0 ? 'over-budget' : 'on-budget'">
        {{ formatCurrency(leftToBudget) }}
      </span>
      {{ leftToBudget < 0 ? 'over budget' : 'left to budget' }}
    </span>
  </div>
  <div
    style="
      display: grid;
      align-items: center;
      justify-items: center;
      margin-top: 15px;
      margin-bottom: 15px;
    "
    shape="block"
    *ngIf="showCopyBudget"
  >
    <ion-button (click)="copyOverBudget()"
      >Copy Previous Month Budget</ion-button
    >
  </div>
  <div id="planned-income-container">
    <span id="planned-income"
      ><span class="title">Budget Balance</span>
      <span [ngClass]="remainingToSpend < 0 ? 'over-budget' : 'on-budget'">
        <strong>{{formatCurrency(remainingToSpend)}}</strong></span
      ></span
    >
  </div>
  <div id="options-container">
    <div
      (click)="toggleReorder()"
      [ngClass]="isUserReorderingCategories ? 'sort-active' : ''"
    >
      <svg
        *ngIf="!isUserReorderingCategories"
        width="35px"
        height="35px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.0686 15H7.9313C7.32548 15 7.02257 15 6.88231 15.1198C6.76061 15.2238 6.69602 15.3797 6.70858 15.5393C6.72305 15.7232 6.93724 15.9374 7.36561 16.3657L11.4342 20.4344C11.6323 20.6324 11.7313 20.7314 11.8454 20.7685C11.9458 20.8011 12.054 20.8011 12.1544 20.7685C12.2686 20.7314 12.3676 20.6324 12.5656 20.4344L16.6342 16.3657C17.0626 15.9374 17.2768 15.7232 17.2913 15.5393C17.3038 15.3797 17.2392 15.2238 17.1175 15.1198C16.9773 15 16.6744 15 16.0686 15Z"
          stroke="#666"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M7.9313 9.00005H16.0686C16.6744 9.00005 16.9773 9.00005 17.1175 8.88025C17.2393 8.7763 17.3038 8.62038 17.2913 8.46082C17.2768 8.27693 17.0626 8.06274 16.6342 7.63436L12.5656 3.56573C12.3676 3.36772 12.2686 3.26872 12.1544 3.23163C12.054 3.199 11.9458 3.199 11.8454 3.23163C11.7313 3.26872 11.6323 3.36772 11.4342 3.56573L7.36561 7.63436C6.93724 8.06273 6.72305 8.27693 6.70858 8.46082C6.69602 8.62038 6.76061 8.7763 6.88231 8.88025C7.02257 9.00005 7.32548 9.00005 7.9313 9.00005Z"
          stroke="#666"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <svg
        *ngIf="isUserReorderingCategories"
        width="35px"
        height="35px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.0686 15H7.9313C7.32548 15 7.02257 15 6.88231 15.1198C6.76061 15.2238 6.69602 15.3797 6.70858 15.5393C6.72305 15.7232 6.93724 15.9374 7.36561 16.3657L11.4342 20.4344C11.6323 20.6324 11.7313 20.7314 11.8454 20.7685C11.9458 20.8011 12.054 20.8011 12.1544 20.7685C12.2686 20.7314 12.3676 20.6324 12.5656 20.4344L16.6342 16.3657C17.0626 15.9374 17.2768 15.7232 17.2913 15.5393C17.3038 15.3797 17.2392 15.2238 17.1175 15.1198C16.9773 15 16.6744 15 16.0686 15Z"
          stroke="#00eabb"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M7.9313 9.00005H16.0686C16.6744 9.00005 16.9773 9.00005 17.1175 8.88025C17.2393 8.7763 17.3038 8.62038 17.2913 8.46082C17.2768 8.27693 17.0626 8.06274 16.6342 7.63436L12.5656 3.56573C12.3676 3.36772 12.2686 3.26872 12.1544 3.23163C12.054 3.199 11.9458 3.199 11.8454 3.23163C11.7313 3.26872 11.6323 3.36772 11.4342 3.56573L7.36561 7.63436C6.93724 8.06273 6.72305 8.27693 6.70858 8.46082C6.69602 8.62038 6.76061 8.7763 6.88231 8.88025C7.02257 9.00005 7.32548 9.00005 7.9313 9.00005Z"
          stroke="#00eabb"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div (click)="toggleRemoveCategories()">
      <ion-icon
        name="pencil-outline"
        style="font-size: 26px"
        [ngStyle]="{ color: isUserRemovingCategories ? 'var(--ion-color-primary)' : '#666' }"
      ></ion-icon>
    </div>
  </div>
  <div>
    <ion-reorder-group
      [disabled]="!isUserReorderingCategories"
      (ionItemReorder)="doneReorderItems($event)"
    >
      <ion-item
        id="{{item.id}}-ion-item"
        class="category-item-container"
        lines="none"
        *ngFor="let item of categoriesArray; let i = index"
      >
        <app-category
          style="width: 100%"
          [category]="item"
          [subcategories]="item.subcategories || []"
          (addNewSubEvent)="addNewSub(item)"
          [chosenDate]="chosenDate"
          [isUserReorderingCategories]="isUserReorderingCategories"
          [isUserRemovingCategories]="isUserRemovingCategories"
          (requestSaveOfSubs)="saveAllSubs()"
          (requestDeleteCategory)="deleteCategory($event)"
          (subcategorySelected)="subcategorySelected($event)"
        ></app-category>
        <ion-reorder
          id="{{item.id}}-reorder"
          class="reorder-button"
        ></ion-reorder>
      </ion-item>
    </ion-reorder-group>
    <div style="display: flex; justify-content: center">
      <ion-button
        class="add-new-category-button"
        (click)="addCategory()"
        fill="clear"
        *ngIf="!isUserReorderingCategories && !isUserRemovingCategories"
      >
        <ion-icon name="add" slot="start"></ion-icon>
        Add New Category
      </ion-button>
    </div>
  </div>

  <div
    id="app-draggable-container"
    *ngIf="unsortedTransactions.length > 0"
    (click)="revealUnsortedTransactions()"
  >
    <div id="transaction-counter">
      <span *ngIf="isCardContainerVisible">
        <ion-icon name="close" style="color: white; font-size: 30px"></ion-icon>
      </span>
      <span *ngIf="!isCardContainerVisible" class="counter-number">
        {{unsortedTransactions.length}}
      </span>
    </div>
  </div>
  <div
    class="card-container"
    [ngClass]="{ 'slide-up': isCardContainerVisible }"
  >
    <!-- Content of card container -->
    <div id="scrollable-container">
      <div
        id="card"
        *ngFor="let item of unsortedTransactions;"
        (click)="openTransactionSorter(item)"
      >
        <div id="date">{{item.date | date:'MMM. d'}}</div>
        <span id="amount">{{(item.amount * -1) | currency}}</span>
        <div id="name">{{item.merchant_name || item.name}}</div>
      </div>
    </div>
  </div>
</ion-content>
