#budget-remaining-container {
  background-color: white;
  width: 100%;
  height: 44px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;

  .over-budget {
    font-weight: bold;
    color: red;
  }

  .on-budget {
    font-weight: bold;
    color: black;
  }
}

.category-reorder-container {
  --width: 100%;
  --background: transparent;
}

.category-item-container {
  --width: 100%;
  --background: transparent;
}

#planned-income-container {
  display: block;
  margin: auto;
  width: 92%;
  margin-bottom: 10px;
  #planned-income {
    .title {
      color: #464646;
      font-size: 18px;
    }
    background-color: white;
    margin-top: 10px;
    width: 100%;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    border-radius: 8px;
  }
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
#app-draggable-container {
  position: fixed;
  bottom: 18px;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);

  #transaction-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
  }

  .counter-number {
    font-size: 24px;
    color: white;
    font-weight: 500;
  }
}

ion-refresher.refresher-active {
  z-index: 1;
}

.card-container {
  position: fixed;
  bottom: 70px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
  transform: translateY(200px);
  overflow-x: auto;
  white-space: nowrap;
  opacity: 0;
  z-index: 99;
}

#scrollable-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Ensure even spacing between cards */
  align-items: center;
  z-index: 98;
  width: fit-content; /* Adjust the container width based on the card content */
  margin: 0 auto; /* Center the container horizontally */
}

#card {
  flex: 0 0 auto;
  height: 90px;
  width: 100px;
  background: white;
  text-align: center;
  border: 1px solid var(--ion-color-primary);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  #date {
    font-size: 12px;
  }
  #name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #amount {
    font-weight: bold;
    font-size: 16px;
  }
}

.card-container.slide-up {
  transform: translateY(0);
  opacity: 1;
}

#options-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 92%;
  margin: 0 auto;
  padding: 0 10px;
}

ion-reorder {
  position: absolute;
  z-index: 99;
  opacity: 0;
}
