<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ cardTitle }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item class="target" *ngFor="let sub of subcategories">
        <ion-label>{{ sub.text }}</ion-label>
        <ion-note slot="end">{{ sub.amount }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label class="add-new">
          <ion-icon name="add"></ion-icon> Add New Category
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
