<ion-card>
  <ion-card-header>
    <ion-card-subtitle id="subtitle">
      <span id="title">{{ category.id }}</span>
      <span id="category" *ngIf="!isChecklist">Remaining</span>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <span *ngIf="!isChecklist">
        <ion-item
          class="target"
          *ngFor="let sub of subcategories; let i = index"
          [button]="!sub.isEditing"
          detail="false"
        >
          <span
            *ngIf="!sub.isEditing"
            class="saved-sub"
            (click)="openBudgetItem(i)"
          >
            <ion-label>{{ sub.text }}</ion-label>
            <ion-note style="text-align: end">{{
                getSubcategoryRemainingAmount(sub)
                | currency
            }}</ion-note>
          </span>
          <span *ngIf="sub.isEditing" class="new-sub">
            <ion-input
              placeholder="Name"
              [(ngModel)]="sub.text"
              (ionFocus)="stopTimeout()"
              (ionBlur)="shouldWeSaveOrRemove()"
              (keyup.enter)="triggerIonBlur()"
              #nameInput
            ></ion-input>
            <ion-note style="text-align: end">{{
                getSubcategoryRemainingAmount(sub)
                | currency
            }}</ion-note>
          </span>
        </ion-item>
      </span>
      <span *ngIf="isChecklist">
        <ion-item
          class="target"
          *ngFor="let sub of subcategories; let i = index"
          button
          (click)="selectSubCategory(i)"
        >
          <ion-label labelPlacement="start">{{ sub.text }}</ion-label>
        </ion-item>
      </span>

      <ion-item *ngIf="!isChecklist">
        <ion-label class="add-new" (click)="addNewSub()" style="cursor: pointer">
          <ion-icon name="add"></ion-icon> Add New Category
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
