$gray-text: #666;

ion-content {
  --background: #ffffff;
  font-family: "Rockwell";
  position: absolute;
  top: 40%;
  transform: translateY(-25%);
}

.title-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .login-title {
    font-size: 40px;
  }
}

.login-input-container {
  width: 90%;
  margin: 0 auto;
}

.username-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.forgot-password-container {
  width: 100%;
  text-align: right;
  margin-top: 5px;
  color: $gray-text;
}

.login-button-container {
  width: 100%;
  margin-top: 30px;
}

.signup-text-container {
  width: 100%;
  text-align: center;
  color: $gray-text;
  margin-top: 20px;
}
lottie-player {
  width: 250px;
  text-align: center;
}
