<ion-content [fullscreen]="true">
  <div id="container">
    <div id="header">
      <div id="header-text">Balanced</div>
      <div id="subheader-text">Budgets</div>
    </div>

    <div id="login-form">
      <ion-input
        label="Full Name"
        labelPlacement="stacked"
        [(ngModel)]="user.name"
        type="text"
      ></ion-input>
      <ion-input
        label="Email"
        labelPlacement="stacked"
        [(ngModel)]="user.email"
        type="email"
      ></ion-input>
      <ion-input
        label="Password"
        labelPlacement="stacked"
        [(ngModel)]="user.password"
        type="password"
      ></ion-input>
      <ion-button (click)="signUp()" expand="block"
        >Let's Get Balanced</ion-button
      >
      <p routerLink="..">Back to Login</p>
    </div>
  </div>
</ion-content>
