<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>Subcategory Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <div id="category-header">
        <ion-input
          placeholder="Enter a name"
          [(ngModel)]="subcategoryEditName"
          (ionBlur)="saveNewName()"
          [maxlength]="40"
          ></ion-input>
      </div>
      <ion-item lines="none" *ngIf="category.id == 'income'" class="header">
        <div class="amount-container">
          <ion-label>{{ subcategory.actual_amount * -1 | currency }} </ion-label>
          <ion-label>Received of</ion-label>
          <input
          placeholder="$0.00"
          [(ngModel)]="planned_amount"
          type="decimal"
          (blur)="saveNewAmount()"
          currencyMask
          [options]="{ prefix: '$ ', thousands: ',', decimal: '.', align: 'center', }"
          class="ngx-currency-input"
          />
        </div>
      </ion-item>
      <ion-item lines="none" *ngIf="category.id != 'income'" class="header">
        <div class="amount-container">
          <ion-label>{{ subcategory.actual_amount | currency }}</ion-label>
          <ion-label>Spent of</ion-label>
          <input
          placeholder="$0.00"
          [(ngModel)]="planned_amount"
          type="decimal"
          (blur)="saveNewAmount()"
          currencyMask
          [options]="{ prefix: '$ ', thousands: ',', decimal: '.', align: 'center', }"
          class="ngx-currency-input"
          />
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Transactions</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of transactions">
          <ion-label
            >{{ item.date | date : "MMM. d" }} - {{ item.name }}</ion-label
          >
          <ion-note slot="end">{{
            (item.amount * -1) | currency
          }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
