<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>{{ subcategory.text }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none" *ngIf="category.text == 'income'" class="header">
        <ion-label>{{ subcategory.actual_amount | currency }} </ion-label
        ><ion-label>received of</ion-label
        ><ion-input
          placeholder="$0.00"
          [(ngModel)]="subcategory.planned_amount"
          type="decimal"
          (ionBlur)="saveNewAmount()"
        ></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="category.text != 'income'">
        <ion-label>{{ subcategory.actual_amount | currency }}</ion-label
        ><ion-label>spent of</ion-label
        ><ion-input placeholder="$0.00" type="decimal"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Transactions</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of transactions">
          <ion-label
            >{{ item.date | date : "MMM. d" }} - {{ item.name }}</ion-label
          >
          <ion-note slot="end">{{
            parseAmount(item.amount) / 100 | currency
          }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
