.header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  input {
    border: none;
    text-align: start;
    background-color: white;
  }
  input:focus {
    border: none;
  }
}
