<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>{{ subcategory.text }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none" *ngIf="category.id == 'income'" class="header">
        <div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%">
          <ion-label style="width: 33%;">{{ subcategory.actual_amount * -1 | currency }} </ion-label>
          <ion-label style="width: 33%;">Received of</ion-label>
          <input
          placeholder="$0.00"
          [(ngModel)]="planned_amount"
          type="decimal"
          (blur)="saveNewAmount()"
          currencyMask
          [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }"
          style="width: 33%"
          class="ngx-currency-input"
          />
        </div>
      </ion-item>
      <ion-item lines="none" *ngIf="category.id != 'income'" class="header">
        <div style="display: flex; flex-direction: row; justify-content: space-around; width: 100%">
          <ion-label style="width: 33%">{{ subcategory.actual_amount | currency }}</ion-label>
          <ion-label style="width: 33%">Spent of</ion-label>
          <input
          placeholder="$0.00"
          [(ngModel)]="planned_amount"
          type="decimal"
          (blur)="saveNewAmount()"
          currencyMask
          [options]="{ prefix: '$ ', thousands: ',', decimal: '.', align: 'center', }"
          style="width: 33%"
          class="ngx-currency-input"
          />
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Transactions</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of transactions">
          <ion-label
            >{{ item.date | date : "MMM. d" }} - {{ item.name }}</ion-label
          >
          <ion-note slot="end">{{
            (item.amount * -1) | currency
          }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
