<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title> App Themes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Sample Title</ion-card-title>
      <ion-card-subtitle>Sample Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div id="sample-container"></div>
      <div id="theme-container">
        <div
          class="theme"
          *ngFor="let theme of themes"
          (click)="chooseTheme(theme)"
          [ngStyle]="{'background-color': theme.value}"
          [ngClass]="{'active': theme.value == activeTheme}"
        ></div>
      </div>
      <div style="text-align: center">
        <ion-button [routerLink]="['..']"> Save </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
